// Place all the styles related to the Pokes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.ui-helper-hidden-accessible { display:none; }

.poke_area {
  display: flex;
  p {
    margin: 0 0 7px 0;
    font-size: 16px
  }
  .area_1 {
    text-align: right;
    padding-right: 5px;
    background-color: #c3c8f9;
  }
  .area_2 {
    padding-left: 5px;
    background-color: #f9c3c3;
  }
}
.attack_type {
  display: flex;
}
